


html {
    height: 100%;
}

body {
    font-family: Lato,RobotoDraft,Roboto,'Helvetica Neue',sans-serif !important;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

abbr[title], abbr[data-original-title] {
  cursor: none !important;
  border-bottom: none !important;
  text-decoration: none !important;
}

.wm-bg-grey{
    background-color: #dadcdd;
}

:focus{
    outline-style: none;
}



footer {
    padding: 16px;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.collapsed-row span, .roc-ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

.round-face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 8px;
}

#mainFab {
    position: fixed;
    right: 2%;
    bottom: 24px;
    background-color: #db4437;
}

#mainFab svg {
    fill: white;
}

#fab-popup {
    height: 260px;
    position: fixed;
    right: 2%;
    bottom: 90px;
}

#main {
    width: 100%;
}

#content {
    min-width: 70%;
    max-width: 1080px;
}

.animate-if {
    background: white;
    border: 1px solid black;
    padding: 10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity: 1;
}

.centered_panel {
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.center {
    text-align: center;
}

md-toolbar {
    /* background: linear-gradient(to left bottom, rgb(11, 86, 117), rgb(210, 199, 197)) 30% 0px; */

    /*height: 40px;*/
    /*min-height: 40px; !*inherit;*!*/
}

md-toolbar.roc-dilalog{
  background-color: #1174c2;
  height:40px;
  min-height: 40px;
}

.btn-no-hover:hover,.btn-no-hover:focus,.btn-no-hover:active {
    background-color: #ffffff !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.md-toolbar-tools, md-toolbar-item md-tools {
    height: 40px;
}

.user_icon {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

md-input-container > md-icon + input {
    margin-left: 30px;
}

.md-tile-content {
    padding: 0;
}

md-checkbox .md-container {
    top: 6px;
}

.participant_app_user_status {
    padding-left: 34px;
}

.modal_with_header h2.md-subheader {
    font-size: 1em;
    background-color: #dcedc8;
    margin: 0px;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
}

.modal_with_header h2.md-subheader.md-sticky-clone {
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.modal_with_header h2 .md-subheader-content {
    padding-left: 10px;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
    z-index: 1;
}

#left-column {
    padding-right: 0;
    padding-left: 10px;
}

.user-menu {
    margin: 2px 0 0 -42px;
}

.end-time-menu {
    margin: 2px 0 0 -60px;
}

/* jrg-eRangePicker */
.rg-range-picker {
}

.rg-range-picker .rg-range-picker-box {
    width: 100%;
    padding: 0;
    background-color: #ffffff;
}

.rg-range-picker .rg-range-picker-calendars {
    border-bottom: solid 1px #ededed;
}

.rg-range-picker .rg-range-picker-calendars:before,
.rg-range-picker .rg-range-picker-calendars:after {
    content: " ";
    display: table;
}

.rg-range-picker .rg-range-picker-calendars:after {
    clear: both;
}

.rg-range-picker .rg-range-picker-calendars .rg-range-picker-calendar-box {
    float: left;
    width: 50%;
    border-right: solid 1px #ededed;
    text-align: center;
    margin: 0 auto;
}

.rg-range-picker .rg-range-picker-calendars .rg-range-picker-calendar-box.right,
.rg-range-picker .rg-range-picker-calendars .rg-range-picker-calendar-box:last-child {
    border-right-width: 0;
}

.rg-range-picker .rg-range-picker-calendars .rg-range-picker-calendar-label {
    margin-bottom: 14px;
    margin-top: 14px;
    color: #999999;
    font-weight: 200;
}

.rg-range-picker.rg-range-picker-responsive .rg-range-picker-calendars {
    border-bottom-width: 0;
}

.rg-range-picker.rg-range-picker-responsive .rg-range-picker-calendars .rg-range-picker-calendar-box {
    float: none;
    width: auto;
    border-right-width: 0;
    margin: 0 auto 14px;
    border-bottom: solid 1px #ededed;
}

.rg-range-picker.rg-range-picker-responsive .rg-range-picker-calendars .rg-range-picker-calendar-label {
    margin-bottom: 14px;
    margin-top: 14px;
    color: #999999;
    font-weight: 200;
}

.clean-calendar > table {
    width: 100%;
}

.clean-calendar > table:focus {
    outline: none !important;
}

.clean-calendar > table thead tr:first-child {
    background-color: #EAF5FC;
}

.clean-calendar > table thead tr th .btn {
    background-color: transparent !important;
}

.clean-calendar > table .text-info {
    color: #ffffff;
}

.clean-calendar .btn {
    border-width: 0;
}

.clean-calendar .btn,
.clean-calendar .btn:hover,
.clean-calendar .btn:focus,
.clean-calendar .btn:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.rg-range-picker-slider {
    padding: 15px 20px;
    position: relative;
    min-height: 30px;
}

.rg-range-picker-slider .rg-range-picker-slider-labels {
    margin-bottom: 20px;
}

.rg-range-picker-slider .rg-range-picker-slider-labels .row {
    position: relative;
}

.rg-range-picker-slider .rg-range-picker-slider-labels .rg-range-picker-divider {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 10.5px;
    border-top: solid 1px #ededed;
    text-align: center;
}

.rg-range-picker-slider .rg-range-picker-slider-labels .rg-range-picker-divider .label {
    position: relative;
    top: -10.5px;
    border: solid 1px #ededed;
    background-color: #ffffff;
    color: #5cb85c;
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
    padding: 6px 8px 6px 10px;
    border-radius: 50%;
}

.label.label-range-picker {
    border: solid 1px #ededed;
    background-color: #ffffff;
    color: #666666;
    font-weight: 300;
    border-radius: 14px;
    font-size: 12px;
}

.clean-slider {
    position: relative;
    height: 20px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}

.clean-slider .bar {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.clean-slider .bar.full {
    height: 20px;
    background-color: #f4c37d;
    border-radius: 10px;
}

.clean-slider .bar.selection {
    background-color: #eea236;
    height: 100%;
    border-radius: 10px;
}

.clean-slider .bubble {
    text-indent: -999px;
}

.clean-slider .input.low,
.clean-slider .input.high {
    cursor: ew-resize;
}

.clean-slider .input.selection {
    cursor: all-scroll;
}

.clean-slider .pointer.low {
    cursor: ew-resize;
}

.clean-slider .pointer.high {
    cursor: ew-resize;
}

.clean-slider .pointer.low,
.clean-slider .pointer.high {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    text-indent: -999px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.clean-slider .pointer.low:after,
.clean-slider .pointer.high:after {
    content: ' ';
    background-color: #f0ad4e;
    width: 12px;
    height: 12px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -6px;
    border-radius: 50%;
}


/* AddThisEvent theme CSS
---------------------------------------------------------------------- */

/* General */
.addthisevent 							{visibility:hidden;}
.addthisevent span 						{display:none!important;}
.addthisevent .data 					{display:none!important;}

/* The button */
.addthisevent-drop 						{width:280px;display:inline-block;position:relative;z-index:999998;cursor:pointer;background:#f7f7f7;font-family:Roboto,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;font-weight:300;color:#333!important;font-size:15px;line-height:100%;border:1px solid #cfcfcf;-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.15);-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.15);box-shadow:1px 1px 3px rgba(0,0,0,0.15);-webkit-border-radius:2px;border-radius:2px;}
.addthisevent-drop:hover 				{background-color:#f4f4f4;}
.addthisevent-drop:active 				{top:1px;}
.addthisevent-drop .date 				{width:60px;height:60px;float:left;position:relative;}
.addthisevent-drop .date .mon 			{display:block;text-align:center;padding:9px 0px 0px 0px;font-size:11px;color:#bf5549;font-weight:bold;line-height:110%;text-transform:uppercase;}
.addthisevent-drop .date .day 			{display:block;text-align:center;padding:0px 0px 8px 0px;font-size:30px;font-weight:bold;color:#333;line-height:100%;}
.addthisevent-drop .date .bdr1 			{width:1px;height:50px;background:#eaeaea;position:absolute;z-index:100;top:5px;right:-3px;}
.addthisevent-drop .date .bdr2 			{width:1px;height:50px;background:#fff;position:absolute;z-index:100;top:5px;right:-4px;}
.addthisevent-drop .desc 				{width:210px;height:60px;float:left;position:relative;}
.addthisevent-drop .desc p 				{margin:0;display:block;text-align:left;padding:7px 0px 0px 18px;font-size:12px;color:#666;line-height:110%;}
.addthisevent-drop .desc .hed 			{height:15px;display:block;overflow:hidden;margin-bottom:3px;font-size:14px;line-height:110%;color:#333;text-transform:uppercase;}
.addthisevent-drop .desc .des 			{height:28px;display:block;overflow:hidden;}
.addthisevent-selected 					{background-color:#f4f4f4;}

/* The drop down */
.addthisevent_dropdown 					{width:280px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:-2px;margin-left:-1px;border:1px solid #cfcfcf;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addthisevent_dropdown span 			{display:block;line-height:110%;background:#fff;text-decoration:none;font-size:14px;color:#6d84b4;padding:8px 10px 9px 15px;}
.addthisevent_dropdown span:hover 		{background:#f4f4f4;color:#6d84b4;text-decoration:none;font-size:14px;}
.addthisevent_dropdown .copyx 			{height:21px;display:block;position:relative;cursor:default;}
.addthisevent_dropdown .brx 			{height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;right:10px;top:9px;}
.addthisevent_dropdown .frs 			{position:absolute;top:5px;cursor:pointer;right:10px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:9px;color:#cacaca;}
.addthisevent_dropdown .frs:hover 		{color:#6d84b4;}

.thumbnail {
    max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;
}




md-content.md-default-theme {
/*  background-color: #eee; */
}



md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%;
  }
}


h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
/*  &:last-child {
    opacity: 0.8;
  }*/
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px;
  }
}
.user-avatar {
  border-radius: 99%;
}

a{
    outline-color: rgba(255, 255, 255, 0) !important;
    outline-width: 0px !important;
}
a:hover{
    text-decoration: none !important;
    outline-color: rgba(255, 255, 255, 0) !important;
    outline-width: 0px !important;
}



.wm-ng-md-icon svg{
    margin-bottom: -3px;
}

.wm-md-tabs-feed-menu-container md-tabs-canvas{
    height:42px !important;
}
.wm-md-tabs-feed-menu-container md-pagination-wrapper{
    height:42px !important;
}


.wm-md-tabs-feed-menu-container md-tabs.md-blue-theme md-ink-bar {
    color: #1174c2 !important;
    background: #1174c2 !important;
    height: 0px !important;
}

.wm-md-tabs-feed-menu-container md-tabs[md-border-bottom] md-tabs-wrapper{
    border-width:0px !important;
    background-color: #353535 !important;
    /*background-color: rgb(47, 64, 80) !important;*/
    /*background-color: rgb(103, 106, 108) !important;*/
}

.wm-md-tabs-feed-menu-container md-tabs.md-blue-theme .md-tab.md-active{
    background-color: #f9f9f9 !important;
     /*color:rgb(47, 64, 80) !important;*/
     color:rgb(103, 106, 108) !important;
}
.wm-md-tabs-feed-menu-container md-tabs.md-blue-theme .md-tab:not(:active){
    /*background-color: #f9f9f9 !important;*/
     color:#fff !important;
     font-weight:normal !important;
}


.wm-md-tabs-feed-menu-container md-tabs.md-blue-theme .md-tab.md-active, md-tabs.md-blue-theme .md-tab.md-active md-icon, md-tabs.md-blue-theme .md-tab.md-focused, md-tabs.md-blue-theme .md-tab.md-focused md-icon {
    /*color:rgb(47, 64, 80) !important ;*/
     color:rgb(103, 106, 108) !important;
    font-weight:bold !important;
    /*fill:#1174c2 !important;*/
}
.wm-md-tabs-feed-menu-container md-tabs.md-blue-theme .md-tab.md-active, md-tabs.md-blue-theme .md-tab.md-active ng-md-icon, md-tabs.md-blue-theme .md-tab.md-focused, md-tabs.md-blue-theme .md-tab.md-focused ng-md-icon {
     /*fill:rgb(47, 64, 80) !important;*/
      fill:rgb(103, 106, 108) !important;
}
/*.wm-md-tabs-feed-sub-menu-container md-tab-item{
    width: 153px !important;
}*/
/*.wm-md-tabs-feed-sub-menu-container .wm-side-menus-feed-setting-activities md-tab-item{
    width: 153px !important;
}
.wm-md-tabs-feed-sub-menu-container .wm-side-menus-feed-setting-event-types md-tab-item{
    width: 135px !important;
}*/
.wm-side-menus-activity-virtual-repeat:nth-child(2n+1){
    background-color: #f9f9f9 !important;
}



  .wm-sidebar-default{
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  /*background-color:#353535;*/
  color:white;


  }

.wm-sidebar-default-active{

 border-bottom:1px solid white;
 color:white;
}

.wm-sidemenus-ng-md-icon{

   fill:#b7b7b7;
}

.wm-sidemenu-md-toolbar-free-trail{
    height:80px !important;
    min-height:80px !important;
}
.wm-sidebar-default-active .wm-sidemenus-ng-md-icon{
       color:#212121 !important;
}

md-option:hover{
    color: #212121;
    background-color: rgba(0, 0, 0, 0.1);
}

md-list-item.wm-sidebar-default-parent > button{
  padding: 0px;
  border-radius: 0px !important;

}

.wm-sidemenus-md-menu-content-notification-socket{
    max-height:none !important;
}
.wm-sideMenus-main{

}





.wm-logo{
    left:10px;
}

@media screen and (max-width: 959px) {
    .wm-logo{
        display: none;
    }
}

/*********************
* Social Buttons
*********************/

.btn-office365 {
  color: #fff;
  background-color: #F05823;
  border: 1px solid #d54331;
  position: relative;
}

.btn-office365:hover,
.btn-office365:focus {
  color: #fff;
  background-color: #CC4C20;
}


.btn-office365::before {
  background-color: white !important;
  border-radius: 2px;
  content: "";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  background: url(images/google/logo_office_365-big.svg) no-repeat center center;
  width: 38px;
  height: 38px;
}

.roc-login-btns{
  margin-top: 20px !important;
  font-size: 16px;
  font-weight: 600;
  height: 42px;
}

.btn-google-plus {
  color: #fff;
  font-weight: 600;
  position:relative;
  background-color: #4285F4;
  border: 1px solid #4285F4;
}

.btn-google-plus::before {
  background-color: white !important;
  border-radius: 2px;
  content: "";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  background: url(images/google/social-auth-icon--google.svg) no-repeat top left;
  width: 38px;
  height: 38px;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: white;
  border-color: #2a75f3;
  box-shadow: inset 0 70px 0 0 rgba(255,255,255,0.1);
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  color: #fff;
  background-color: #0069a4;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7;
}

.btn-foursquare {
  color: #fff;
  background-color: #f94877;
  border: 1px solid #f8215a;
}

.btn-foursquare:hover,
.btn-foursquare:focus {
  color: #fff;
  background-color: #f71752;
}

.btn-github {
  color: #fff;
  background-color: #444;
  border: 1px solid #3b3b3b;
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
  background-color: #303030;
}

.btn-yahoo {
  color: #fff;
  background-color: #720e9e;
  border: 1px solid #580b75;
}

.btn-yahoo:hover,
.btn-yahoo:focus {
  color: #fff;
  background-color: #303030;
}

.btn-live {
  color: #fff;
  background-color: #2672ec;
}

.btn-live:hover,
.btn-live:focus {
  color: #fff;
  background-color: #125acd;
}


/*Upload*/

/*body { font-family: Helvetica, Arial, sans-serif; color: #333; margin: 10px; width: 960px; word-wrap: break-word; }*/
#posterframe { position: absolute; right: 10px; top: 10px; }
/*h1 { color: #0e2953; font-size: 18px; }
h2 { color: #666; font-size: 16px; }
p { font-size: 14px; line-height: 18px; }*/
#logo { height: 51px; width: 241px; }
/*a { color: #0b63b6 }*/

.actions { margin: 20px 0; }
.upload_link { color: #000; border: 1px solid #aaa; background-color: #e0e0e0;
    font-size: 18px; padding: 5px 10px; width: 250px; margin: 10px 0 20px 0;
    font-weight: bold; text-align: center; text-decoration: none; margin: 5px; }

.photo { margin: 10px; padding: 10px; border-top: 2px solid #ccc; }
.photo .thumbnail { margin-top: 10px; display: block; max-width: 200px; border: none; }
.toggle_info { margin-top: 10px; font-weight: bold; color: #e62401; display: block; }
.thumbnail_holder { height: 182px; margin-bottom: 5px; margin-right: 10px; }
.info td, .uploaded_info td { font-size: 12px }
.note { margin: 20px 0}

.inline { display: inline-block; }
/*td { vertical-align: top; padding-right: 5px; }*/

#direct_upload_jquery, #direct_upload { padding: 20px 20px; margin: 20px 0;
    border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

#direct_upload_jquery h1, #direct_upload h1 { margin: 0 0 15px 0; }

.back_link { font-weight: bold; display: block; font-size: 16px; margin: 10px 0; }

/*form { border: 1px solid #ddd; margin: 15px 0; padding: 15px 0; border-radius: 4px; }*/
/*form .form_line { margin-bottom: 20px; }
form .form_controls { margin-left: 180px; }
form label { float: left; width: 160px; padding-top: 3px; text-align: right; }
form .error { color: #c55; margin: 0 10px; }*/

#direct_upload, #direct_upload_jquery { border: 4px dashed #ccc; }
#direct_upload.dragover { border-color: #0c0; }
#direct_upload.dragover-err { border-color: #c00; }

.upload_details { font-size: 12px; margin: 20px; border-top: 1px solid #ccc; word-wrap: break-word; }
.upload_button_holder {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload_button {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(15, 97, 172);
    color: #fff;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100px;
    height: 18px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.upload_button_holder .upload_button {
    display: block;
}

.upload_button:hover {
    background-color: rgb(17, 133, 240);
}
.upload_button_holder .cloudinary_fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
.progress-bar{
  width: 100px;
  position: relative;
  height: 4px;
}
.progress-bar .progress{
  height: 4px;
  background-color: #ff0000;
  width: 0%;
}

/*
 * animations css stylesheet
 */

/* animate ngRepeat in photo listing */

.photo-listing.ng-enter,
.photo-listing.ng-leave,
.photo-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.photo-listing.ng-enter,
.photo-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.photo-listing.ng-move.ng-move-active,
.photo-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.photo-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.photo-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* cross fading between routes with ngView */

.view-container {
  position: relative;
}
.wm-main-container{
    padding-left: 0px;
    margin-left: 0;
    overflow: scroll;
}
@media (max-width: 950px){
    .wm-main-container{
       margin-left: 0px;
    }
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}





/* vertical divider*/
.wm-divider-vertical {
    height: 27px;
    margin: 0 5px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #F1EEEE;

}
.wm-action-item{
    min-height: inherit;
}
.wm-action-item:hover,
.wm-action-item:focus {
  background-color: rgba(1, 170, 211, 0.02);
}

.wm-agenda-meeting-note-button:hover{
    background-color: #E8E8E8;
    border-radius: 5px;
}

.action-item-divider {
  background-color: rgb(251, 251, 251);
  color: #222;
  font-weight: bold;
  height:25px;
  min-height:25px;
  max-height:25px;
}




.wm-agenda-meeting-item{
  height:56px;
  min-height:56px;
  max-height:56px;
}
.wm-agenda-meeting-item:hover,
.wm-agenda-meeting-item:focus {
  background-color: rgba(1, 170, 211, 0.02);
}

.wm-agenda-meeting-note-button:hover{
    background-color: #E8E8E8;
    border-radius: 5px;
}

.agenda-item-divider {
  background-color: rgb(251, 251, 251);
  color: #222;
  font-weight: bold;
}





.wm-divider-vertical {
    height: 27px;
    margin: 0 5px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #F1EEEE;

}
.wm-minute-item{
    min-height: inherit;
}
.wm-minute-item:hover,
.wm-minute-item:focus {
  background-color: rgba(1, 170, 211, 0.02);
}



.minute-divider {
  background-color: rgb(251, 251, 251);
  color: #222;
  font-weight: bold;
  height:25px;
  min-height:25px;
  max-height:25px;
}




.wm-loader-area {
    z-index: 12; /*89;*/
    position: absolute;
    top: 0px;
    left: 0;
    height:100%;
    width:100%;
    cursor: auto;
    filter: alpha(opacity=60);
    opacity: 0.15;
    background: #1e1e1e;
    /* cursor: url(images/blank.cur), none;*/
}
.wm-loader-area-cursor {
     /*cursor: none;*/
     width: 32px;
     height: 32px;
     background: url("images/rotate_logo_cursor.gif") no-repeat center;
     position: absolute;
     display: none;
     top: 0;
     left: 0;
     filter: alpha(opacity=100);
     opacity: 1;
     z-index: 10000;
}





#agenda_grid_id .ui-grid-row{
  height: auto!important;
}

#agenda_grid_id .ui-grid-row   > div {
  /*display: table-row;*/

}

#agenda_grid_id .ui-grid-row > div .ui-grid-cell {
/* display: table-cell;*/
 float: none;
 vertical-align: middle;
 height: auto!important;
}

#agenda_grid_id .ui-grid-cell-contents{
  white-space: normal;
  text-overflow: inherit;
  word-break: break-word;
}


.wm-view-common{
    font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
}


.wm-sidebar-default a:hover{
    color:white;
}



/*.wm-organization-header md-select md-select-value,
.wm-organization-header md-select:focus md-select-value{
    color:white !important;
}*/


/*.wm-organization-header md-select:not([disabled]):focus md-select-value{
    color:white !important;
}*/

/*textTransform: none;
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    line-height: 26px;
    margin: 0px;
    text-align: left;
    width: auto;
    min-width:auto;
    padding-left: 0px 4px 0px 0px;*/

 md-select:not([disabled]):focus.wm-organization-header-select md-select-value{
    color:white !important;
}




.wm-tile-stats-header-button{
    textTransform: none;
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    line-height: 26px;
    margin: 0px;
    text-align: left;
    width: auto;
    min-width:auto;
    padding: 0px 4px 0px 0px;
}



.wm-tile-tini-activity-button{
    text-transform: none;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    line-height: 15px;
    margin: 0px;
    text-align: left;
    width: auto;
    min-width: 54px;
}

.wm-tile-tini-activity-button span{
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    text-transform: none;
}

.wm-tile-title-pie-chart-button{
    position: absolute;
    top: -5px;
    left: 0px;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    line-height: 15px;
    margin: 0px;
}

.wm-tile-title-pie-chart-button span{
    margin: 0px;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
}



.wm-tile-header-pie-button{
    text-transform: none;
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    line-height: 26px;
    margin: 0px;
    text-align: left;
    width: auto;
    min-width: 37px;
    padding-left: 0px;
}

.wm-tile-header-pie-button span{
    margin: 0px 0px 0px 3px;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
}

.wm-tile-details-pie-button{
    text-transform: none;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    line-height: 15px;
    margin: 0px;
    text-align: left;
    width: auto;
    min-width: 54px;
}

.wm-tile-details-pie-button span{
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    text-transform: none;
}


.wm-tile-flags-header-button{
    height: 38px;
    min-height: 38px;
    max-height: 38px;
    line-height: 38px;
    color: rgb(88, 88, 88);
    margin: 0px;
    text-align: center;
    width: auto;
    min-width: 23px;
    padding: 2px 5px;
    font-size: 34px;
}

.wm-tile-flags-header-button span{
    margin: 0px;
    font-size: 34px;
    font-weight: normal;
    text-transform: none;
}

.wm-tile-flags-details-button{
    text-transform: none;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    line-height: 15px;
    margin: 0px;
    text-align: left;
    width: auto;
    min-width: 54px;
    color: rgb(88, 88, 88);
}

.wm-tile-flags-details-button span{
    margin: 3px;
    font-size: 11px;
    font-weight: normal;
    text-transform: none;
}



.wm-tile-team-tree-item-flags-header{
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    line-height: 32px;
    color: #525252;
    text-align: center;
    width: auto;
    min-width: 23px;
    padding: 0px;
    font-size: 25px;
    margin: 0px 0px 0px 5px;
}
.wm-tile-team-tree-item-flags-header span{
    margin: 0px;
    font-weight: normal;
    text-transform: none;
}

.wm-tile-team-tree-item-flags-details{
    text-transform: none;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    line-height: 15px;
    margin: 0px;
    text-align: left;
    width: auto;
    min-width: 54px;
    color: rgb(88, 88, 88);
}
.wm-tile-team-tree-item-flags-details span{
    margin: 3px;
    font-size: 11px;
    font-weight: normal;
    text-transform: none;
}

.wm-tile-bar-chart-header{
    text-transform: none;
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    line-height: 26px;
    margin: 0px;
    text-align: center;
    width: auto;
    min-width: 18px;
    padding-left: 0px;
}

.wm-tile-bar-chart-header span {
    margin: 0px 0px 0px 3px;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
}

md-content.md-blue-theme{
  background-color: white !important;
}


.roc-padding-0{
  padding: 0;
}
.roc-padding-4{
  padding: 4px;
}


input[type="text"].ui-grid-filter-input {
  font-weight: 400 !important;
}


.md-chips .md-chip-input-container md-autocomplete input {
  border: 1px solid #dbe3ec;
  padding-left: 10px;
}
